<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <title>{{ name }}</title>
</head>
<body>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="/main_menu">главное меню</a>
    </li>
    {% if current_user.is_authenticated %}
        <li>
            <a class="nav-link" href="/logout">{{ current_user.name }}</a>
        </li>
    {% endif %}
</ul>
<div class="container">
    <div class="alert alert-success" role="alert" align="center"><h3>{{ name }}</h3></div>
    <img src="https://static-maps.yandex.ru/1.x/?ll=73.366948,54.990103&size=450,450&z=15&l=map&pt=73.366948,54.990103,pm2blm">
    <h2>
        <a href="https://yandex.ru/maps/66/omsk/house/internatsionalnaya_ulitsa_12/Y0oYdQFmT0EOQFtufXV4cX1lZw==/?ll=73.370573%2C54.988145&z=15.48">Открыть на карте</a>
    </h2>
    <h3>Православный храм в Омске, находящийся в самом центре города на Соборной площади.
        Кафедральный собор Омской митрополии РПЦ. Во время гражданской войны был главным храмом Белой России.
        Был разрушен во времена советской власти и восстановлен в начале XXI века на средства, собранные горожанами.
        Достопримечательность Омска.</h3>
</div>
</body>
</html>